@model TopluMailProjesi.Models.MailDokuman

@{
    ViewData["Title"] = "Create";
}

<h1>Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MailTaslakId" class="control-label"></label>
                <select class="form-select" asp-for="MailTaslakId"  asp-items="ViewBag.MailTaslakId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DokumanId" class="control-label"></label>
                <select asp-for="DokumanId" class ="form-select" asp-items="ViewBag.DokumanId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
