@model TopluMailProjesi.Models.MailDokuman

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dokuman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dokuman.DokumanYolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTaslak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailTaslak.Baslik)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MailDokumanId">Edit</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
