@model TopluMailProjesi.Models.Grup

@{
    ViewData["Title"] = "Delete";
}

<h1>Sil</h1>

<h3>Tüm Bilgiler Silinecek ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupAdi)
        </dd>
        
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GrupId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
